
@{
    ViewBag.Title = "MarinersNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="playerController as pc">
    <h2>Mariners News</h2>
    <div ng-repeat="itm in pc.news track by $index">
        <p ng-bind-html="itm"></p>
        <hr />
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/Controllers/PlayerModalController.js"></script>
    <script src="~/Scripts/app/Controllers/PlayerController.js"></script>
    <script src="~/Scripts/app/Scripts/PlayerService.js"></script>
    <script src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
}

