<div>
    <div class="modal-header" style="background-color:#006838;color:white">
        <button type="button" ng-click="$ctrl.close()" style="float:right" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
        <h3 class="modal-title" id="modal-title">
            Player
        </h3>
    </div>
        <div class="modal-body" id="body-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" placeholder="First Name" ng-model="$ctrl.playerModel.FirstName" ng-required="$ctrl.playerModel.FirstName"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Last Name" ng-model="$ctrl.playerModel.LastName" ng-required="$ctrl.playerModel.LastName"/>
                </div>
                <div class="form-group">
                    <label for="team">Team: </label>
                    <select ng-options="itm.Id as itm.Name for itm in $ctrl.teams" ng-model="$ctrl.playerModel.TeamId" data-placeholder="Select Team" class="select2 form-control" ng-required="$ctrl.playerModel.TeamId"></select>
                </div>
                <div class="form-group">
                    <label for="battingAverage">Batting Average:</label>
                    <input type="text" class="form-control" placeholder="Batting Average" ng-model="$ctrl.playerModel.BattingAverage" ng-required="$ctrl.playerModel.BattingAverage" />
                </div>
                <div class="form-group">
                    <label for="OPS">Batting Average:</label>
                    <input type="text" class="form-control" placeholder="OPS" ng-model="$ctrl.playerModel.OPS" ng-required="$ctrl.playerModel.OPS" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="$ctrl.save()">Save</button>
                </div>
            </div>
        </div>
</div>

